[submodule "lib/DaisySP"]
	path = lib/DaisySP
	url = git@github.com:electro-smith/DaisySP.git
[submodule "lib/rtaudio"]
	path = lib/rtaudio
	url = git@github.com:thestk/rtaudio.git
[submodule "lib/rtmidi"]
	path = lib/rtmidi
	url = git@github.com:oletizi/rtmidi.git
